CapaGUI/Connected Services/ServiceNegCon/WebServiceNegocioControl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="webGuardarControl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="control" type="tns:Control" />
            <s:element minOccurs="0" maxOccurs="1" name="rutP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutM" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Control">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdControl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Causa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Prioridad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FrecuenciaCardiaca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FrecuenciaRespiratoria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PresionArterial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaturacionO2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Temperatura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dolor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuxPaciente" type="tns:Paciente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Paciente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RutP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaNacimiento" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Nacionalidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Anos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Prevision" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="webGuardarControlResponse">
        <s:complexType />
      </s:element>
      <s:element name="webListarHistorial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webListarHistorialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webListarHistorialResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="webGuardarControlSoapIn">
    <wsdl:part name="parameters" element="tns:webGuardarControl" />
  </wsdl:message>
  <wsdl:message name="webGuardarControlSoapOut">
    <wsdl:part name="parameters" element="tns:webGuardarControlResponse" />
  </wsdl:message>
  <wsdl:message name="webListarHistorialSoapIn">
    <wsdl:part name="parameters" element="tns:webListarHistorial" />
  </wsdl:message>
  <wsdl:message name="webListarHistorialSoapOut">
    <wsdl:part name="parameters" element="tns:webListarHistorialResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceNegocioControlSoap">
    <wsdl:operation name="webGuardarControl">
      <wsdl:input message="tns:webGuardarControlSoapIn" />
      <wsdl:output message="tns:webGuardarControlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webListarHistorial">
      <wsdl:input message="tns:webListarHistorialSoapIn" />
      <wsdl:output message="tns:webListarHistorialSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceNegocioControlSoap" type="tns:WebServiceNegocioControlSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webGuardarControl">
      <soap:operation soapAction="http://tempuri.org/webGuardarControl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webListarHistorial">
      <soap:operation soapAction="http://tempuri.org/webListarHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceNegocioControlSoap12" type="tns:WebServiceNegocioControlSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webGuardarControl">
      <soap12:operation soapAction="http://tempuri.org/webGuardarControl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webListarHistorial">
      <soap12:operation soapAction="http://tempuri.org/webListarHistorial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceNegocioControl">
    <wsdl:port name="WebServiceNegocioControlSoap" binding="tns:WebServiceNegocioControlSoap">
      <soap:address location="https://localhost:44397/WebServiceNegocioControl.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceNegocioControlSoap12" binding="tns:WebServiceNegocioControlSoap12">
      <soap12:address location="https://localhost:44397/WebServiceNegocioControl.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>