CapaGUI/Connected Services/ServiceManMedico/WebServiceMantenedorMedico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="webBuscarMedico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webBuscarMedicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webBuscarMedicoResult" type="tns:Medico" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Medico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AuxRutM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Salario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="webBuscarNombresMedico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webBuscarNombresMedicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webBuscarNombresMedicoResult" type="tns:Medico" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="webBuscarMedicoSoapIn">
    <wsdl:part name="parameters" element="tns:webBuscarMedico" />
  </wsdl:message>
  <wsdl:message name="webBuscarMedicoSoapOut">
    <wsdl:part name="parameters" element="tns:webBuscarMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="webBuscarNombresMedicoSoapIn">
    <wsdl:part name="parameters" element="tns:webBuscarNombresMedico" />
  </wsdl:message>
  <wsdl:message name="webBuscarNombresMedicoSoapOut">
    <wsdl:part name="parameters" element="tns:webBuscarNombresMedicoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceMantenedorMedicoSoap">
    <wsdl:operation name="webBuscarMedico">
      <wsdl:input message="tns:webBuscarMedicoSoapIn" />
      <wsdl:output message="tns:webBuscarMedicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webBuscarNombresMedico">
      <wsdl:input message="tns:webBuscarNombresMedicoSoapIn" />
      <wsdl:output message="tns:webBuscarNombresMedicoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceMantenedorMedicoSoap" type="tns:WebServiceMantenedorMedicoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webBuscarMedico">
      <soap:operation soapAction="http://tempuri.org/webBuscarMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webBuscarNombresMedico">
      <soap:operation soapAction="http://tempuri.org/webBuscarNombresMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMantenedorMedicoSoap12" type="tns:WebServiceMantenedorMedicoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webBuscarMedico">
      <soap12:operation soapAction="http://tempuri.org/webBuscarMedico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webBuscarNombresMedico">
      <soap12:operation soapAction="http://tempuri.org/webBuscarNombresMedico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMantenedorMedico">
    <wsdl:port name="WebServiceMantenedorMedicoSoap" binding="tns:WebServiceMantenedorMedicoSoap">
      <soap:address location="https://localhost:44374/WebServiceMantenedorMedico.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMantenedorMedicoSoap12" binding="tns:WebServiceMantenedorMedicoSoap12">
      <soap12:address location="https://localhost:44374/WebServiceMantenedorMedico.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>