CapaGUI/Connected Services/ServiceManPaciente/WebServiceMantenedorPaciente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="webGuardarPaciente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paciente" type="tns:Paciente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Paciente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RutP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaNacimiento" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Nacionalidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Anos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Prevision" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="webGuardarPacienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="webBuscarPaciente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webBuscarPacienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webBuscarPacienteResult" type="tns:Paciente" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="webGuardarPacienteSoapIn">
    <wsdl:part name="parameters" element="tns:webGuardarPaciente" />
  </wsdl:message>
  <wsdl:message name="webGuardarPacienteSoapOut">
    <wsdl:part name="parameters" element="tns:webGuardarPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="webBuscarPacienteSoapIn">
    <wsdl:part name="parameters" element="tns:webBuscarPaciente" />
  </wsdl:message>
  <wsdl:message name="webBuscarPacienteSoapOut">
    <wsdl:part name="parameters" element="tns:webBuscarPacienteResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceMantenedorPacienteSoap">
    <wsdl:operation name="webGuardarPaciente">
      <wsdl:input message="tns:webGuardarPacienteSoapIn" />
      <wsdl:output message="tns:webGuardarPacienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webBuscarPaciente">
      <wsdl:input message="tns:webBuscarPacienteSoapIn" />
      <wsdl:output message="tns:webBuscarPacienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceMantenedorPacienteSoap" type="tns:WebServiceMantenedorPacienteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webGuardarPaciente">
      <soap:operation soapAction="http://tempuri.org/webGuardarPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webBuscarPaciente">
      <soap:operation soapAction="http://tempuri.org/webBuscarPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMantenedorPacienteSoap12" type="tns:WebServiceMantenedorPacienteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webGuardarPaciente">
      <soap12:operation soapAction="http://tempuri.org/webGuardarPaciente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webBuscarPaciente">
      <soap12:operation soapAction="http://tempuri.org/webBuscarPaciente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMantenedorPaciente">
    <wsdl:port name="WebServiceMantenedorPacienteSoap" binding="tns:WebServiceMantenedorPacienteSoap">
      <soap:address location="https://localhost:44374/WebServiceMantenedorPaciente.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMantenedorPacienteSoap12" binding="tns:WebServiceMantenedorPacienteSoap12">
      <soap12:address location="https://localhost:44374/WebServiceMantenedorPaciente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>