CapaGUI/Connected Services/ServiceManDiagnostico/WebServiceMantenedorDiagnostico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="webGuardarDiagnostico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="diagnostico" type="tns:Diagnostico" />
            <s:element minOccurs="0" maxOccurs="1" name="idControl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoDiagnostico" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Diagnostico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdDiagnostico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiagnosticoConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDiagnostico" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="webGuardarDiagnosticoResponse">
        <s:complexType />
      </s:element>
      <s:element name="webCambiarEstadoConsulta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idControl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webCambiarEstadoConsultaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="webGuardarDiagnosticoSoapIn">
    <wsdl:part name="parameters" element="tns:webGuardarDiagnostico" />
  </wsdl:message>
  <wsdl:message name="webGuardarDiagnosticoSoapOut">
    <wsdl:part name="parameters" element="tns:webGuardarDiagnosticoResponse" />
  </wsdl:message>
  <wsdl:message name="webCambiarEstadoConsultaSoapIn">
    <wsdl:part name="parameters" element="tns:webCambiarEstadoConsulta" />
  </wsdl:message>
  <wsdl:message name="webCambiarEstadoConsultaSoapOut">
    <wsdl:part name="parameters" element="tns:webCambiarEstadoConsultaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceMantenedorDiagnosticoSoap">
    <wsdl:operation name="webGuardarDiagnostico">
      <wsdl:input message="tns:webGuardarDiagnosticoSoapIn" />
      <wsdl:output message="tns:webGuardarDiagnosticoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webCambiarEstadoConsulta">
      <wsdl:input message="tns:webCambiarEstadoConsultaSoapIn" />
      <wsdl:output message="tns:webCambiarEstadoConsultaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceMantenedorDiagnosticoSoap" type="tns:WebServiceMantenedorDiagnosticoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webGuardarDiagnostico">
      <soap:operation soapAction="http://tempuri.org/webGuardarDiagnostico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webCambiarEstadoConsulta">
      <soap:operation soapAction="http://tempuri.org/webCambiarEstadoConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMantenedorDiagnosticoSoap12" type="tns:WebServiceMantenedorDiagnosticoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webGuardarDiagnostico">
      <soap12:operation soapAction="http://tempuri.org/webGuardarDiagnostico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webCambiarEstadoConsulta">
      <soap12:operation soapAction="http://tempuri.org/webCambiarEstadoConsulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMantenedorDiagnostico">
    <wsdl:port name="WebServiceMantenedorDiagnosticoSoap" binding="tns:WebServiceMantenedorDiagnosticoSoap">
      <soap:address location="https://localhost:44374/WebServiceMantenedorDiagnostico.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMantenedorDiagnosticoSoap12" binding="tns:WebServiceMantenedorDiagnosticoSoap12">
      <soap12:address location="https://localhost:44374/WebServiceMantenedorDiagnostico.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>